<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Django app</h1>
<h1>Cards, owned by {{ user }}</h1>
{% if cards %}
    <table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Likes</td>
        <td>Followers</td>
    </tr>
    </thead>
    <tbody>
    {% for card in cards %}
    <tr>
        <td>{{ card.0 }}</td>
        <td>{{ card.1 }}</td>
        <td>{{ card.2|slice:":200" }} ...</td>
        <td>{{ card.3 }}</td>
        <td>{{ card.4 }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% else %}
    <p>No cards are available.</p>
{% endif %}
</body>
</html>